<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @book_my_test.name %>
</p>

<p>
  <b>Age:</b>
  <%= @book_my_test.age %>
</p>

<p>
  <b>Gender:</b>
  <%= @book_my_test.gender %>
</p>

<p>
  <b>Address:</b>
  <%= @book_my_test.address %>
</p>

<p>
  <b>Mobile:</b>
  <%= @book_my_test.mobile %>
</p>

<p>
  <b>Alt mobile no:</b>
  <%= @book_my_test.alt_mobile_no %>
</p>

<p>
  <b>Ref doc name:</b>
  <%= @book_my_test.ref_doc_name %>
</p>

<p>
  <b>Home collection:</b>
  <%= @book_my_test.home_collection %>
</p>

<p>
  <b>Coll add:</b>
  <%= @book_my_test.coll_add %>
</p>

<p>
  <b>Date sample coll:</b>
  <%= @book_my_test.date_sample_coll %>
</p>

<p>
  <b>Test:</b>
  <%= @book_my_test.test_id %>
</p>


<%= link_to 'Edit', edit_book_my_test_path(@book_my_test) %> |
<%= link_to 'Back', book_my_tests_path %>
